#page-container {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    padding: 8px 16px;
    height: calc(100vh - 32px);
}

#page-header {
    display: flex;
    flex-direction: row;
}

.space {
    flex-grow: 1;
}

a {
    text-decoration: none;
    font-size: 24px;
}