#asset-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#asset-picker {
    margin-top: 0;
}

#svgHolder {
    border: 0px solid red;
    background-color: #f6f6f6;
    align-self: stretch;
    flex-grow: 1;
}

#input-container {
    display: flex;
    flex-direction: column;
}

label {
    line-height: 32px;
}

::deep #project-asset-input {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    background-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    line-height: 16px;
    width: 120px;
    text-align: center;
    margin-top: var(--gap-small);
}

.section {
    margin-top: var(--gap-large);
}

#svg-holder-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: scroll;
    height: calc(100vh - 300px);
}

.project-summary-line {
    margin-top: var(--gap-small);
    margin-bottom: var(--gap-mini);
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: center;
}

.summary-title {
    margin-right: var(--text-leading-space);
    font-weight: 600;
}

#target-picker {
    margin-right: var(--gap-small);
}

#target-package-list {
    margin-right: var(--gap-small);
}

button {
    align-self: flex-start;
}

.summary-content {
    margin-right: var(--text-leading-space);
}