/* /Pages/Assets.razor.rz.scp.css */
#asset-page[b-8pay6z6i2v] {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#asset-picker[b-8pay6z6i2v] {
    margin-top: 0;
}

#svgHolder[b-8pay6z6i2v] {
    border: 0px solid red;
    background-color: #f6f6f6;
    align-self: stretch;
    flex-grow: 1;
}

#input-container[b-8pay6z6i2v] {
    display: flex;
    flex-direction: column;
}

label[b-8pay6z6i2v] {
    line-height: 32px;
}

[b-8pay6z6i2v] #project-asset-input {
    display: none;
}

.custom-file-upload[b-8pay6z6i2v] {
    border: 1px solid #ccc;
    background-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    line-height: 16px;
    width: 120px;
    text-align: center;
    margin-top: var(--gap-small);
}

.section[b-8pay6z6i2v] {
    margin-top: var(--gap-large);
}

#svg-holder-section[b-8pay6z6i2v] {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: scroll;
    height: calc(100vh - 300px);
}

.project-summary-line[b-8pay6z6i2v] {
    margin-top: var(--gap-small);
    margin-bottom: var(--gap-mini);
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: center;
}

.summary-title[b-8pay6z6i2v] {
    margin-right: var(--text-leading-space);
    font-weight: 600;
}

#target-picker[b-8pay6z6i2v] {
    margin-right: var(--gap-small);
}

#target-package-list[b-8pay6z6i2v] {
    margin-right: var(--gap-small);
}

button[b-8pay6z6i2v] {
    align-self: flex-start;
}

.summary-content[b-8pay6z6i2v] {
    margin-right: var(--text-leading-space);
}
/* /Shared/MainLayout.razor.rz.scp.css */
#page-container[b-rxu6fko8gj] {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    padding: 8px 16px;
    height: calc(100vh - 32px);
}

#page-header[b-rxu6fko8gj] {
    display: flex;
    flex-direction: row;
}

.space[b-rxu6fko8gj] {
    flex-grow: 1;
}

a[b-rxu6fko8gj] {
    text-decoration: none;
    font-size: 24px;
}
